.notification {
    position: fixed;
    left: 50%;
    top: 60px;
    margin-left: -100px;
    border: 1px solid #aaa;
    padding: 10px 15px;
    width: 200px;
    font-size: 1rem;
    line-height: 24px;
    background-color: #222;
}

.notification__message {
    float: left;
}

.btn-notif {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: 0;
    padding: 0;
    overflow: hidden;
    background: transparent;
}

.notification__button {
    float: right;
    font-size: 1rem;
    line-height: 24px;
    text-transform: uppercase;
    color: #85bf6b;
}
