.complete {
    color: #85bf6b;
}

.editing {
    color: #999;
}

.complete-desc {
    position: relative;
    color: #666;

    text-decoration: line-through;
    text-decoration-color: #85bf6b;
}

@media screen and (max-width: 480px) {
    .task-item {
        padding: 20px 10px;
        margin: 20px 0;
        outline: none;
        border-radius: 10px;
        border: 1px dotted #666;
        min-height: 100px;
        overflow: hidden;
        color: #fff;
    }

    .item-left {
        display: flex;
        align-items: center;
    }

    .task-desc {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
    }

    .desc {
        font-size: 1rem;
        font-weight: 400;
    }

    .date {
        font-size: 0.8rem;
        font-weight: 300;
    }

    .btn-list {
        display: flex;
        justify-content: flex-end;
        gap: 5px;
        margin-top: 20px;
    }

    .btn-important,
    .btn-urgent {
        border: none;
        padding: 10px;
        border-radius: 10px;
        color: #fff;
    }

    .btn-important {
        background-color: #ea7c03;
        opacity: 40%;
    }

    .btn-urgent {
        background-color: #d70202;
        opacity: 30%;
    }

    .active,
    .btn-important:hover,
    .btn-urgent:hover {
        opacity: 1;
    }

    .task-edit__input {
        outline: none;
        border: 0;
        border-bottom: 1px dotted #666;
        border-radius: 0;
        padding: 0;
        width: 100%;
        height: 40px;
        font-family: inherit;
        font-size: 1.3rem;
        font-weight: 400;
        color: #fff;
        background: transparent;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .task-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        margin: 20px 0;
        outline: none;
        border-radius: 10px;
        border: 1px dotted #666;
        min-height: 60px;
        overflow: hidden;
        color: #fff;
    }

    .item-left {
        display: flex;
        align-items: center;
    }

    .task-desc {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
    }

    .desc {
        font-size: 1.5rem;
        font-weight: 400;
    }

    .date {
        font-size: 0.8rem;
        font-weight: 300;
    }

    .btn-list {
        display: flex;
        align-items: center;
        gap: 0 10px;
    }

    .btn-list div {
        display: flex;
        align-items: center;
        gap: 0 10px;
    }

    .btn-important,
    .btn-urgent {
        border: none;
        padding: 10px;
        border-radius: 10px;
        color: #fff;
    }

    .btn-important {
        background-color: #ea7c03;
        opacity: 40%;
    }

    .btn-urgent {
        background-color: #d70202;
        opacity: 30%;
    }

    .active,
    .btn-important:hover,
    .btn-urgent:hover {
        opacity: 1;
    }

    .task-edit__input {
        outline: none;
        border: 0;
        border-bottom: 1px dotted #666;
        border-radius: 0;
        padding: 0;
        width: 100%;
        height: 40px;
        font-family: inherit;
        font-size: 1.5rem;
        font-weight: 400;
        color: #fff;
        background: transparent;
    }
}

@media screen and (min-width: 1025px) {
    .task-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        margin: 20px 0;
        outline: none;
        border-radius: 10px;
        border: 1px dotted #666;
        min-height: 60px;
        overflow: hidden;
        color: #fff;
    }

    .item-left {
        display: flex;
        align-items: center;
    }

    .task-desc {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
    }

    .desc {
        font-size: 1.5rem;
        font-weight: 400;
    }

    .date {
        font-size: 0.8rem;
        font-weight: 300;
    }

    .btn-list {
        display: flex;
        align-items: center;
        gap: 0 10px;
    }

    .btn-list div {
        display: flex;
        align-items: center;
        gap: 0 10px;
    }

    .btn-important,
    .btn-urgent {
        border: none;
        padding: 10px;
        border-radius: 10px;
        color: #fff;
    }

    .btn-important {
        background-color: #ea7c03;
        opacity: 40%;
    }

    .btn-urgent {
        background-color: #d70202;
        opacity: 30%;
    }

    .active,
    .btn-important:hover,
    .btn-urgent:hover {
        opacity: 1;
    }

    .task-edit__input {
        outline: none;
        border: 0;
        border-bottom: 1px dotted #666;
        border-radius: 0;
        padding: 0;
        width: 100%;
        height: 40px;
        font-family: inherit;
        font-size: 1.5rem;
        font-weight: 400;
        color: #fff;
        background: transparent;
    }
}
